<header>
  <nav class="nav">
    <a href="/" class="nav__logo">
      <img src="/images/logo.png" alt="Note app logo" />
      <span>Note App</span>
    </a>
    <div class="searchbar">
      <form action="/dashboard/search" method="POST">
        <input
          type="search"
          name="searchContent"
          id="search"
          placeholder="Search Note"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="nav__auth">
      <a href="" class="logout">Log Out</a>
    </div>
  </nav>
</header>
