<footer>
  <p>
    Design and Develop by
    <a href="https://www.linkedin.com/in/codeemonkey/" target="_blank"
      >Code Monkey</a
    >
    & Source code available at
    <a href="https://github.com/codemonkey-sagar/note-app" target="_blank"
      >Github</a
    >
  </p>
</footer>
