<header>
  <nav class="nav">
    <div class="nav__logo">
      <img src="/images/logo.png" alt="Note app logo" />
      <span>Note App</span>
    </div>
    <div class="nav__links">
      <ul>
        <li>Home</li>
        <li>Features</li>
        <li>FAQ</li>
        <li>About</li>
      </ul>
    </div>
    <div class="nav__auth">
      <a href="" class="signup">Sign Up</a>
      <a href="" class="login">Log In</a>
    </div>
  </nav>
</header>
