<section class="main-section">
  <div class="content">
    <div>
      <h1>
        <span class="primary">Jot It Down, </span>
        Before Your ­ЪДа­ЪДа­ЪДа runs Out of RAM.
      </h1>
      <a href="">Write Now, It's FREE</a>
    </div>
    <img src="/images/noteImage.png" alt="Note Image" />
  </div>
</section>
